h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(36, 120, 141)
}

body {
    background-color: whitesmoke
}

#footer{
    background-color: rgb(192, 211, 228);
    font-family: Georgia, 'Times New Roman', Times, serif
}

#graph1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 59, 136);
    background-color: aliceblue;
}


