p{
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: whitesmoke
}

#ellie{
    color: black
}

#enf{
    color:azure;
}

h2{
    text-align: center;
}

#ferrell{
    font-weight: bold;
}